@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/styles.css" rel="stylesheet" />


@*<div class="text-center background">
        <div class="jumbotron">
            <h1 class="display-4">Stay Seated - Don't Get Yeeted</h1>
            <br />
            <div class="shadow">
                <img class="my-image-class" src="~/img/black and white car.jpg" />
            </div>
        </div>

        <br />
        <div>
            <h3 class="font-weight-bold">Utah Motor Vehicle Collision Summary</h3>
            <h4>Every year, thousands of people are yeeted from their cars.</h4>
        </div>
        <div>
            Data regarding Utah motor vehicle collisions have been collected from the years 2016, 2017, and 2019. The data has been cleaned,
            analyzed, and summarized to create predictions for people to better understand the risks while driving. For example, Utahns seem to
            have a bigger problem with distracted driving rather than drunk driving (thanks to all that <h7 class="font-italic">root</h7>beer).
            <a href="https://www.udot.utah.gov/connect">Click here</a> to learn more about UDOT and what they're doing to help keep our communities safe
            and improve public transportation.
        </div>
        <br />
        <div>
            This site is a valuable resource in learning more about various driving risks and what you may be at risk of each time you get in a vehicle.
        </div>
    </div>*@

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Stay Seated</div>
        <div class="masthead-heading text-uppercase">Utah Crash Report</div>
        <div class="masthead-subheading">Don't Get Yeeted</div>
        @*        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
        *@
    </div>
</header>
<!-- Services-->
@*<section class="" id="services">
    <div class="mb-2" style="border: solid 1px #ccc; border-radius: 5px; background-color: #fff">
        <div class="text-center mb-2">
            <h2 class="section-heading text-uppercase">Utah Motor Vehicle Collision Summary</h2>
            <hr />
            <h3 class="section-subheading text-muted">Every year, hundreds of people are yeeted from their cars in the state of Utah.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-12 mb-2">
                Data regarding Utah motor vehicle collisions have been collected from the years 2016, 2017, and 2019. The data has been cleaned,
                analyzed, and summarized to create predictions for people to better understand the risks while driving. For example, Utahns seem to
                have a bigger problem with distracted driving rather than drunk driving (thanks to all that <h7 class="font-italic">root</h7>beer).
                <a href="https://www.udot.utah.gov/connect">Click here</a> to learn more about UDOT and what they're doing to help keep our communities safe
                and improve public transportation.
            </div>
            <div class="col-md-12 mb-2">
                This site is a valuable resource in learning more about various driving risks and what you may be at risk of each time you get in a vehicle.
            </div>

        </div>
    </div>
</section>*@

<section class="page-section mt-3" id="about">
    <div class="container">
        <div class="text-center">
            <h2 style="color: black; font-weight: 700" class="section-heading text-uppercase mb-2">Utah Crash Statistics</h2>
            <h3 class="section-subheading text-muted mb-5">The quest to Zero Fatalities.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 style="color: black; font-weight: 700">2000-2005</h4>
                        <h4 style="color: black; font-weight: 600" class="subheading">24% Reduction in Roadway Fatalities</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">The declining trend can be attributed to Utah's efforts in engineering improvements in roads, educational programs for new and experienced drivers, and enforcement initiatives to ensure proper driving behavior.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 style="color: black; font-weight: 700">2006</h4>
                        <h4 style="color: black; font-weight: 600" class="subheading">UDOT created the Zero Fatalities program</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">To reduce fatalities even more, UDOT created the Zero Fatalities program in 2006. Zero Fatalities adds the dictum that every person behind the wheel of a vehicle should take responsibility for themselves and other motorists to drive safely.</p></div>
                </div>
            </li>

            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 style="color: black; font-weight: 700">2008</h4>
                        <h4 style="color: black; font-weight: 600" class="subheading">Fatalities Down 17%</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">By 2008 awareness of the program had grown exponentially and fatalities were down 18% from 2007.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>