@{
    ViewData["Title"] = "Predictor";
}

@model FormData

<!--Form to predict the potential severity of a crash based on the following features-->

<h1 class="text-center">Predict The Risk</h1>
<h2 class="text-center">Use this predictor to calculate the potential crash severity based on road and community features</h2>

<div class="container">
    <form method="post" asp-controller="Home" asp-action="SeverityPrediction">
        <div class="form-group">
            <label>What is the milepoint of the street/site in question?</label><br />
            <input asp-for="MilePoint" /><br />
        </div>

        <div class="form-group">
            <label>What is the latitude?</label><br />
            <input asp-for="Lat_Utm_Y" /><br />
        </div>

        <div class="form-group">
            <label>What is the longitude</label><br />
            <input asp-for="Long_Utm_X" /><br />
        </div>

        <div class="form-group">
            <label>Potential time of the crash (perhaps when you expect higher volumes of traffic)</label><br />
            <select asp-for="Crash_Time">
                <option value="0">Select Time</option>
                <option value="24">12:00 AM</option>
                <option value="1">1:00 AM</option>
                <option value="2">2:00 AM</option>
                <option value="3">3:00 AM</option>
                <option value="4">4:00 AM</option>
                <option value="5">5:00 AM</option>
                <option value="6">6:00 AM</option>
                <option value="7">7:00 AM</option>
                <option value="8">8:00 AM</option>
                <option value="9">9:00 AM</option>
                <option value="10">10:00 AM</option>
                <option value="11">11:00 AM</option>
                <option value="12">12:00 PM</option>
                <option value="13">1:00 PM</option>
                <option value="14">2:00 PM</option>
                <option value="15">3:00 PM</option>
                <option value="16">4:00 PM</option>
                <option value="17">5:00 PM</option>
                <option value="18">6:00 PM</option>
                <option value="19">7:00 PM</option>
                <option value="20">8:00 PM</option>
                <option value="21">9:00 PM</option>
                <option value="22">10:00 PM</option>
                <option value="23">11:00 PM</option>
            </select><br />
        </div>

        <div class="form-group">
            <label>Is this a work zone?</label><br />
            <select asp-for="Work_Zone">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br />
        </div>

        <div class="form-group">
            <label>Are there a high number of pedetrians in the area?</label><br />
            <select asp-for="Pedestrian">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br />
        </div>

        <div class="form-group">
            <label>Do you expect motorcyclists on the road?</label><br />
            <select asp-for="Motorcycle">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br />
        </div>

        <div class="form-group">
            <label>Is this an intersection?</label><br />
            <select asp-for="Intersection">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br />
        </div>

        <div class="form-group">
            <label>Do you expect high numbers of teenage drivers on the road?</label><br />
            <select asp-for="Teenage_Driver">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br />
        </div>

        <div class="form-group">
            <label>Do you expect high numbers of older drivers on the road?</label><br />
            <select asp-for="Older_Driver">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br />
        </div>

        <div class="form-group">
            <label>Do you expect traffic at night on a common basis?</label><br />
            <select asp-for="Night_Condition">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br />
        </div>

        <div class="form-group">
            <label>Is this a roadway departure zone?</label><br />
            <select asp-for="Roadway_Departure">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br /><br />
        </div>

        <button class="btn-user" type="submit">Calculate Crash Severity</button>
    </form>
</div>